/* Custom styling for the Radix theme by Amanda Visconti */

body {
font-family: 'Open Sans', sans-serif;
color: #555555;
}

#header .container {
width: 100%;
padding-left: 0px !important;
padding-right: 0px !important;
}

.view-my-bookmarks-view .view-empty {
background: #555555;
color: #FFFFFF;
padding: 10px;
}

.node-type-blog .links {
display: none;
}

.node-type-faq .field-name-field-detailed-question, body:not(.node-type-book) .author, .node-type-book .col-md-12 .author, .node-type-book .col-md-12 .metadata, .node-type-book .nav-tabs, .node-type-book .col-md-12 .username, .node-type-page .pane-title {
display: none !important;
}

.submitted {
font-style: italic;
padding-top: 10px;
text-align: right;
}

.submitted:before {
content: "Last updated:";
}

.caption {
font-style: italic;
}

.faq-question span {
font-size: 1.5em;
}

.page-faq-page .links {
text-align: right; 
}

.field-name-field-detailed-question {
display: none !important; 
}

/***********************/
/***********************/
/* Front Page Business */
.front #page-header {
display: none;
}

body:not(.node-type-book) {
background: url("http://localhost:8080/www.infiniteulysses.com/sites/all/themes/radix/images/site/ricepaper2.png") repeat;
}

.front .radix-layouts-header, .front .radix-layouts-footer  {
text-align: center;  
}

.front h1 {
font-family: 'Lato', sans-serif; 
font-size: 5em;
padding-top: 5px; 
}

.front h4 {
font-family: 'Lato', sans-serif;  
}

.front .radix-layouts-header .panel-panel-inner p {
padding-top: 30px; 
font-size: 2em;
color: #777777; 
}

.front .col-md-6 {
padding-bottom: 30px;
line-height: 1.6em;
}

.front .radix-layouts-footercolumn1 .pane-title, .front .radix-layouts-footercolumn2 .pane-title {
margin-top: 0px;
}

.front .radix-layouts-footercolumn1 .panel-body, .front .radix-layouts-footercolumn3 .panel-body {
height: 340px;
}

.front .radix-layouts-footercolumn3 .panel-body p {
padding-bottom: 6px;  
}

.front .view-latest-news .views-field-title {
float: left; 
}

.front .view-latest-news .views-field-title:after {
content: ":";
padding-right: .3em;
margin-left: -.2em;
}

.front .button-container {
padding-top: 30px; 
padding-bottom: 30px;
}

.front .btn {
  display: block;
  height: 65px;
  width: 186px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  text-align: center;
  border-radius: 0px !important;
  font-family: 'Lato', sans-serif; 
}
.front .btn:hover {
   color: #FFFFFF; 
}
.front .btn:after {
  position: absolute;
  content: '';
  display: inline-block;
  background: #3bade3;
  background: -webkit-linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  height: 60px;
  width: 372px;
  z-index: -1;
  -webkit-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
          transform: translateX(-280px);
  -webkit-transition: -webkit-transform 400ms ease-in;
          transition: transform 400ms ease-in;
}
.front .btn:hover:after {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
}
.front .btn span {
  position: relative;
  top: 16px;
}

/* End Front Page Business */
/***********************/
/***********************/
/* Book Page Business */
/* General */

/* Text portion */
.node-type-book #footer .container {
display: none;
}

.node-type-book .col-md-12 p {
font-family: 'Merriweather', serif;
}

#annoclicker {

}  
  
#annoclicker:before {
position: absolute;
z-index: 1100;
font-family: FontAwesome;
top: -12px;
left: 200px;
font-size: 3em;
content: "\f086";
color: #428bca;
}

#mm-blocker {
     background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% ! important;
     height: 35px ! important;
     left: 20px;
     opacity: 1;
     top: 45px;
     width: 35px ! important;
     position: absolute;
     z-index: 2 !important;
}

#mm-blocker:before {
     color: #428bca;
     content: "ï€";
     font-family: FontAwesome;
     font-size: 2em;
     position: absolute;
     z-index: 3 !important;
}

.node-type-book .pane-node-title .pane-content {
     font-size: 1.5em;
     margin-left: 249.5px ! important;
     margin-top: -34px ! important;
     position: absolute;
     z-index: 1;
}

.bottom-pg {
margin-left: 145px ! important;
margin-top: 672px ! important;
z-index: 1;
}

.col-md-12 .flag-my-bookmarks {
     font-size: 4em;
     left: 340px;
     position: absolute;
     top: -20px;
     z-index: 0;
}

/* Annosidebar drawer */
.mmenu-nav.mm-fresh {
text-shadow: none !important;
}

.mmenu-nav.mm-fresh > .mm-list {
margin: 0px !important;
padding: 0px !important;
}

.block-search input[type="submit"] {
border: 0px none;
font-family: "FontAwesome";
font-size: 1em;
}

.view-annosidebar .view-filters {
display: none;
}

.ctools-collapsible-handle {
background: #428bca;
color: #FFFFFF;
border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
width: 75px;
}

.ctools-collapsible-handle:after {
font-family: "FontAwesome";
content: "\f13a";
margin-left: 5px;
color: #FFFFFF;
}

.node-type-book .ctools-toggle {
display: none; 
}

.mm-list > li > a, .mm-list > li > span {
white-space: normal !important;
}

.author:before {
content: 'By '; 
}

.field-name-uri .field-label, .field-name-text .field-label, .field-name-quote .field-label {
display: none; 
}

.field-name-uri .field-item:before {
content: 'On Ulysses Page ';
}

.mm-menu {
max-width: 440px;
min-width: 140px;
width: 80%;
}

.field-type-text-long {
background-color: #fff;
border: 1px solid #ddd;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin: 0px -10px 20px -20px;
padding: 10px;
}

/* End Book Page Business */
/*****************************/
/*****************************/
/* Widescreen CSS for Webkit */
@media (min-width: 1000px) and (-webkit-min-device-pixel-ratio:0) {
.mm-menu {
margin-top: 20px ! important; 
}
}
/* End Widescreen CSS for Webkit */
/*****************************/
/*****************************/
/* Widescreen CSS */
@media (min-width: 900px) {
.node-type-book .container { 
width: 550px; 
}

.mm-slideout, .mm-menu.mm-front, .mm-menu.mm-next { 
transform: none !important; 
}

.mm-menu {
width: 32% !important;
max-width: none !important;
z-index: 0;
top: 72px !important;
right: auto !important;
bottom: auto !important;
left: 0px !important;
}

.mm-menu:first-child, .mm-menu.mm-current { 
display: block; 
}

#annoclicker:before {
position: absolute;
z-index: 1100;
font-family: FontAwesome;
top: -22px;
left: 418px;
font-size: 4em;
content: "\f086";
color: #CCCCCC;
cursor: not-allowed;
}

.node-type-book p {
width: 540px;
padding: 20px 12px 10px 14px;
margin-left: -15px;
}

.node-type-book .col-md-12 .panel-pane {
width: 510px;
float: right !important;
margin-right: -120px;
}

.node-type-book .form-item-search-block-form input {
width: 190px !important;
margin-left: -5px;
margin-right: 5px;
}

} 
/* End Widescreen CSS */
/*****************************/
/*****************************/
/*****************************/
/*****************************/
/* Testing */
